textarea {
    height: 300px;
}

#type-inferer {
    background: #FAFAFA;
    padding: 15px;
    margin-top: 2em;
    max-width: 600px;
}

.cta {
    margin-top: 2em;
}

[class^="col-"] {
    align-items: flex-start;
}